<!-- Cabecera de diseño -->
<header class="header">
  <div class="header-part__1">
    <div class="header-part-1__icon" routerLink="/panel">
      <i class="fa-solid fa-chevron-left"></i>
    </div>

    <div class="header-part-1__title">
      <span> {{ titleCar }} </span>
    </div>
  </div>

  <div class="header-part__2">
    <div class="status">
      <div
        class="color-status"
        [class]="saveDesingStatus === true ? 'save' : 'NoSave'"
      ></div>
      <span>
        {{ saveDesingStatus === true ? "Guardado" : "No guardado" }}
      </span>
    </div>
  </div>
  @if (loading) {
  <div class="loading-bar-container">
    <div class="loading-bar" [style]="{ 'width.%': progress }"></div>
  </div>
  }
</header>

<main>
  <div class="view-element">
    <div class="wrapper-bg"></div>

    <div class="container-element--car" #rendererContainer></div>

    <div class="controls">
      <div>
        <label for="rotationX">Rotación X:</label>
        <input
          type="range"
          id="rotationX"
          min="-180"
          max="180"
          [(ngModel)]="rotationX"
          (input)="updateTransform()"
        />
      </div>
      <div>
        <label for="rotationY">Rotación Y:</label>
        <input
          type="range"
          id="rotationY"
          min="-180"
          max="180"
          [(ngModel)]="rotationY"
          (input)="updateTransform()"
        />
      </div>
      <div>
        <label for="rotationZ">Rotación Z:</label>
        <input
          type="range"
          id="rotationZ"
          min="-180"
          max="180"
          [(ngModel)]="rotationZ"
          (input)="updateTransform()"
        />
      </div>
      <div>
        <label for="positionX">Posición X:</label>
        <input
          type="range"
          id="positionX"
          min="-50"
          max="50"
          [(ngModel)]="positionX"
          (input)="updateTransform()"
        />
      </div>
      <div>
        <label for="positionY">Posición Y:</label>
        <input
          type="range"
          id="positionY"
          min="-50"
          max="50"
          [(ngModel)]="positionY"
          (input)="updateTransform()"
        />
      </div>
      <div>
        <label for="positionZ">Posición Z:</label>
        <input
          type="range"
          id="positionZ"
          min="-50"
          max="50"
          [(ngModel)]="positionZ"
          (input)="updateTransform()"
        />
      </div>
    </div>
  </div>

  <div class="container-panel__footer">
    <div class="container-panel__desing">
      <div class="container-colors">
        <span>Colores</span>
        <div class="colors">
          @for (item of colorList; track item.id) {

          <div
            class="box-color"
            [style.background-color]="item.codigo_hex"
            (click)="changeModelColor(item.codigo_hex)"
            z
          ></div>
          }
        </div>
      </div>
      <div class="panel-desing__icons">
        <button (click)="resetPartColor()">Restablecer Color</button>
        <button (click)="resetCamera()">Restablecer Cámara</button>
        <i
          class="fa-regular fa-floppy-disk"
          (click)="saveDesingStatus = !saveDesingStatus"
        ></i>
        <i class="fa-solid fa-download"></i>
      </div>
    </div>
    <div class="elements-separate">
      <ul>
        @for (itemsCars of parts; track itemsCars) {
        <li #partCanvas (click)="onPartClick(itemsCars)">
          {{ itemsCars.name }}
        </li>
        }
      </ul>
    </div>
  </div>
</main>
