<aside>
  <div class="containerOne">
    <div class="container-icons">
      <img src="/assets/iconCarxy.ico" alt="logo" class="baner-icon" />
      <nav class="main-nav">
        <ul class="main-list">
          <li class="list-item">
            <a routerLink="/home" routerLinkActive="active" class="list-link"
              ><i class="fa fa-home list-icon"></i
            ></a>
          </li>
          <li>
            <a routerLink="/panel" routerLinkActive="active" class="list-link"
              ><i class="fa fa-pencil list-icon"></i
            ></a>
          </li>
          @if (userIsStaff == "administrador") {
          <li>
            <a routerLink="/panel" routerLinkActive="active" class="list-link"
              ><i class="fa-solid fa-gavel list-icon"></i>
            </a>
          </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</aside>
